<div class="layout-container">
  <!-- Sidebar -->
  <aside class="sidebar" [class.collapsed]="isSidebarCollapsed">
    <h2 class="logo">Alianza</h2>
    <nav>
      <ul>
        <li><a routerLink="/clientes"><span>👥</span> Clients</a></li>
        <li><a><span>🔍</span> Client look history</a></li>
        <li><a><span>🔐</span> Emergency PIN config</a></li>
        <li><a><span>📄</span> Emergency PIN history</a></li>
      </ul>
    </nav>
  </aside>

  <!-- Main -->
  <main class="main-content">
    <header class="header">
      <button class="menu-btn" (click)="isSidebarCollapsed = !isSidebarCollapsed">☰</button>
      <h1>Gestión de Clientes</h1>
    </header>

    <section class="page-content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>


